:root {
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --second-text-color: #907e82;
  --accent-color: #d41443;
  --main-background-color: #ffb8ca;
  --contrast-bg-color: #ffa5ba;
  --second-background-color: #fff5f6;
  --white-background-color: #ffffff;
  --link-color: #d41443;
  --category-main-color: #f0d1a5;
  --category-second-color: #c2e297;
  --button-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --card-gap: 32px;
  --card-item: 1;

  // Найти в ТЗ
  --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
