<section class="about">
  <div class="container about__container">
    <p class="about__text">tradition and love</p>
    <h2 id="how-made" class="about__title">how it’s made?</h2>
    <div class="about__flex">
      <picture>
        <source
          srcset="./images/howcow.png 1x, ./images/howcow-2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/howcow-tab.png 1x, ./images/howcow-tab-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/howcow-mob.png 1x, ./images/howcow-mob-2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="about__img"
          width="501"
          src="./images/howcow-tab-2x.png"
          alt="cow"
        />
      </picture>
      <div class="about__color">
        <p class="about__top-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__second-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__second-text about__second-text--margin">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__btn" type="button">
          <span class="about__btn-text">Read more</span>

          <svg class="about__btn-accent" width="5" height="8">
            <use href="./images/icons.svg#icon-buttonsvg"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
