<div class="cake__bacrdrop is-hidden" data-modal-buynow>
      <div class="cake__body">
        <div class="cake__content">
          <button class="cake__close" type="button" data-modal-buynow-close>&times;</button>
          <h2 class="cake__change">Выбери Мороженное</h2>
                      <form class="cake__form" action="">
          <label class="cake__label" for="vanilla">Ванильное мороженное</label>
          <select class="cake__select" id="vanilla" name="ice-van">
            <option value="vanilla">Классическая ваниль</option>
            <option value="vanilla">Мятная ваниль</option>
            <option value="vanilla" selected>Ваниль с шоколадной крошкой</option>
            <option value="vanilla">Ванильное в стаканчике</option>
            <option value="vanilla">Ванильное на палочке</option>
            <option value="vanilla">-----------------</option>
          </select>
          <label class="cake__label" for="choclate">Шоколодное мороженное</label>
          <select class="cake__select" id="chocklate" name="ice-chock">
            <option value="chocklate">Классическое шоколадное</option>
            <option value="chocklate">Шоколодное с крошкой</option>
            <option value="chocklate" selected>Шоколодное с бананом</option>
            <option value="chocklate">Шоколодное с ликером</option>
            <option value="chocklate">Шоколодное в стаканчике</option>
            <option value="chocklate">Шоколодное на палочке</option>
              <option value="vanilla">-----------------</option>
          </select>
          <label class="cake__label" for="combination">Комбинированное мороженное</label>
          <select class="cake__select" id="combination" name="ice-combi">
            <option value="combination">Манго-абрикос</option>
            <option value="combination">Авокадо-кокос</option>
            <option value="combination" selected>Фисташка-ананас</option>
            <option value="combination">Огурец-Яблоко</option>
            <option value="combination">Тыкава-Апельсин</option>
              <option value="vanilla">-----------------</option>
          </select>
          <p class="cake__title">Оставьте свои данные, мы вам перезвоним</p>
          
            <div class="cake__container">
              <label for="name" class="cake__name">Имя</label>
              <div class="cake__container-input">
                <input type="text" name="name" id="name" class="cake__input" />
              </div>
            </div>
            <div class="cake__container">
              <label for="tel" class="cake__name">Телефон</label>
              <div class="cake__container-input">
                <input type="tel" name="tel" id="tel" class="cake__input" />
              </div>
            </div>
            <div class="cake__comment">
              <label class="cake__comment-label" for="comment">Комментарий</label>
              <textarea name="comment" id="comment" placeholder="Введите текс" 
class="cake__comment-text"></textarea>
            </div>
              <button class="cake__button" type="submit">Отправить</button>
            </div>
          
          </form>
        </div>
      </div>
     </div>
