<div class="cake__bacrdrop is-hidden" data-modal-buynow>
      <div class="cake__body">
        <div class="cake__content">
          <button class="cake__close" type="button" data-modal-buynow-close>&times;</button>
          <h2 class="cake__change">choose ice cream</h2>
                      <form class="cake__form" action="">
          <label class="cake__label" for="vanilla">vanilla ice cream</label>
          <select class="cake__select cake__select--shoco" id="vanilla" name="ice-van">
            <option value="vanilla">classic vanilla</option>
            <option value="vanilla">mint vanilla</option>
            <option value="vanilla" selected>vanilla with chocolate chips</option>
            <option value="vanilla">vanilla  in a glass</option>
            <option value="vanilla">vanilla  on a stick</option>
            <option value="vanilla">-----------------</option>
          </select>
          <label class="cake__label" for="choclate">chocolate ice cream</label>
          <select class="cake__select cake__select--green" id="chocklate" name="ice-chock">
            <option value="chocklate">classic chocolate</option>
            <option value="chocklate">chocolate with crumbs</option>
            <option value="chocklate" selected>chocolate with banana</option>
            <option value="chocklate">chocolate with liquor</option>
            <option value="chocklate">chocolate in a glass</option>
            <option value="chocklate">chocolate on a stick</option>
              <option value="vanilla">-----------------</option>
          </select>
          <label class="cake__label" for="combination">ice cream mix</label>
          <select class="cake__select cake__select--rose" id="combination" name="ice-combi">
            <option value="combination">mango-apricot</option>
            <option value="combination">avocado-coconut</option>
            <option value="combination" selected>pistachio-pineapple</option>
            <option value="combination">cucumber-apple</option>
            <option value="combination">pumpkin-orange</option>
            <option value="vanilla">-----------------</option>
          </select>
          <p class="cake__title">Leave your details, we will call you back</p>
          
            <div class="cake__container">
              <label for="name" class="cake__name">Name</label>
              <div class="cake__container-input">
                <input type="text" name="name" id="name" class="cake__input" />
              </div>
            </div>
            <div class="cake__container">
              <label for="tel" class="cake__name">Tel</label>
              <div class="cake__container-input">
                <input type="tel" name="tel" id="tel" class="cake__input" />
              </div>
            </div>
            <div class="cake__comment">
              <label class="cake__comment-label" for="comment">Comment</label>
              <textarea name="comment" id="comment" placeholder="Enter text" 
class="cake__comment-text"></textarea>
            </div>
              <button class="cake__button" type="submit">Send</button>
            </div>
          
          </form>
        </div>
      </div>
     </div>
