<section class="contacts-section">
  <div class="container">
    <h1 hidden>Contacts</h1>
    <!-- Заголовок Contacts приховати -->
    <ul class="contacts-section__list list">
      <li class="contacts-section__item">
        <p
          class="contacts-section__category contacts-section__category--orange"
        >
          CAFE
        </p>
        <p class="contacts-section__city">Chicago</p>
        <p class="contacts-section__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <hr class="line" />
        <ul class="contacts-info-list list">
          <li class="contacts-info-list__item">
            <p class="contacts-info-list__days">Monday - Friday</p>
            <p class="contacts-info-list__times">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts-info-list__days">Saturday - Sunday</p>
            <p class="contacts-info-list__times">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <hr class="line" />
        <a href="tel:+61(0)383766284 " class="contacts-section__tel link"
          >+61(0) 383 766 284
        </a>
        <a href="mailto:noreply@envato.com" class="contacts-section__email link"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts-section__item">
        <div
          class="contacts-section__category contacts-section__category--green"
        >
          FOODTRUCK
        </div>
        <p class="contacts-section__city">Los Angeles</p>
        <p class="contacts-section__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <hr class="line" />
        <ul class="contacts-info-list list">
          <li class="contacts-info-list__item">
            <p class="contacts-info-list__days">Monday - Friday</p>
            <p class="contacts-info-list__times">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts-info-list__days">Saturday - Sunday</p>
            <p class="contacts-info-list__times">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <hr class="line" />
        <a href="tel:+61(0)383766284 " class="contacts-section__tel link"
          >+61(0) 383 766 284
        </a>
        <a href="mailto:noreply@envato.com" class="contacts-section__email link"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts-section__item">
        <div
          class="contacts-section__category contacts-section__category--orange"
        >
          CAFE
        </div>
        <p class="contacts-section__city">New York</p>
        <p class="contacts-section__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <hr class="line" />
        <ul class="contacts-info-list list">
          <li class="contacts-info-list__item">
            <p class="contacts-info-list__days">Monday - Friday</p>
            <p class="contacts-info-list__times">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts-info-list__days">Saturday - Sunday</p>
            <p class="contacts-info-list__times">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <hr class="line" />
        <a href="tel:+61(0)383766284 " class="contacts-section__tel link"
          >+61(0) 383 766 284
        </a>
        <a href="mailto:noreply@envato.com" class="contacts-section__email link"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <div class="contacts-section__btn">
      <button type="button">Our Locations</button>
      <button type="button">Franchise</button>
    </div>
  </div>
</section>
