<div class="gallery">
  <img src="/src/images/gallery-mob-1.png" alt="" />
  <img src="/src/images/gallery-mob-2.png" alt="" />
  <img src="/src/images/gallery-mob-3.png" alt="" />
  <img src="/src/images/gallery-mob-4.png" alt="" />
  <img src="/src/images/gallery-mob-5.png" alt="" />
  <img src="/src/images/gallery-mob-6.png" alt="" />
  <img src="/src/images/gallery-mob-7.png" alt="" />
  <img src="/src/images/gallery-mob-8.png" alt="" />
  <img src="/src/images/gallery-mob-9.png" alt="" />
  <img src="/src/images/gallery-mob-10.png" alt="" />
</div>
