<section class="gallery">
  <h1 hidden class="hidden" lang="en">Gallery</h1>
  <div class="container">
    <div class="grid">
      <div class="grid__item first">
        <picture>
          <source
            srcset="./images/gallery1.png 1x, ./images/gallery1-2x.png 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery-tab-1.png    1x,
              ./images/gallery-tab-1-2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery-mob-1.png    1x,
              ./images/gallery-mob-1-2x.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="gallery__img"
            src="/src/images/gallery-mob-1.png"
            alt="icecream1"
          />
        </picture>
      </div>
      <div class="wrap">
        <div class="grid__item second">
          <picture>
            <source
              srcset="./images/gallery2.png 1x, ./images/gallery2-2x.png 2x"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-tab-2.png    1x,
                ./images/gallery-tab-2-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-mob-2.png    1x,
                ./images/gallery-mob-2-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="gallery__img"
              src="/src/images/gallery-mob-2.png"
              alt="icecream2"
            />
          </picture>
        </div>
        <div class="grid__item ninth">
          <picture>
            <source
              srcset="./images/gallery3.png 1x, ./images/gallery3-2x.png 2x"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-tab-3.png    1x,
                ./images/gallery-tab-3-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-mob-3.png    1x,
                ./images/gallery-mob-3-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="gallery__img--marginsmall"
              src="/src/images/gallery-mob-3.png"
              alt="icecream3"
            />
          </picture>
        </div>
      </div>

      <div class="wrap--second">
        <div class="grid__item third">
          <picture>
            <source
              srcset="./images/gallery4.png 1x, ./images/gallery4-2x.png 2x"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-tab-4.png    1x,
                ./images/gallery-tab-4-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-mob-4.png    1x,
                ./images/gallery-mob-4-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="gallery__img"
              src="/src/images/gallery-mob-4.png"
              alt="icecream4"
            />
          </picture>
        </div>
        <div class="grid__item fifth">
          <picture>
            <source
              srcset="./images/gallery5.png 1x, ./images/gallery5-2x.png 2x"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-tab-5.png    1x,
                ./images/gallery-tab-5-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-mob-5.png    1x,
                ./images/gallery-mob-5-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="gallery__img--margin"
              src="/src/images/gallery-mob-5.png"
              alt="icecream5"
            />
          </picture>
        </div>
      </div>

      <div class="wrap--third">
        <div class="grid__item fourth">
          <picture>
            <source
              srcset="./images/gallery6.png 1x, ./images/gallery6-2x.png 2x"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-tab-6.png    1x,
                ./images/gallery-tab-6-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-mob-6.png    1x,
                ./images/gallery-mob-6-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="gallery__img"
              src="/src/images/gallery-mob-6.png"
              alt="icecream6"
            />
          </picture>
        </div>
        <div class="grid__item seventh">
          <picture>
            <source
              srcset="./images/gallery7.png 1x, ./images/gallery7-2x.png 2x"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-tab-7.png    1x,
                ./images/gallery-tab-7-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-mob-7.png    1x,
                ./images/gallery-mob-7-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="gallery__img--margin"
              src="/src/images/gallery-mob-7.png"
              alt="icecream7"
            />
          </picture>
        </div>
      </div>

      <div class="wrap--fourth">
        <div class="grid__item eighth">
          <picture>
            <source
              srcset="./images/gallery8.png 1x, ./images/gallery8-2x.png 2x"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-tab-8.png    1x,
                ./images/gallery-tab-8-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-mob-8.png    1x,
                ./images/gallery-mob-8-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="gallery__img"
              src="/src/images/gallery-mob-8.png"
              alt="icecream8"
            />
          </picture>
        </div>
        <div class="grid__item tenth">
          <picture>
            <source
              srcset="./images/gallery9.png 1x, ./images/gallery9-2x.png 2x"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-tab-9.png    1x,
                ./images/gallery-tab-9-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-mob-9.png    1x,
                ./images/gallery-mob-9-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="gallery__img--margin"
              src="/src/images/gallery-mob-9.png"
              alt="icecream9"
            />
          </picture>
        </div>
      </div>

      <div class="wrap--fifth">
        <div class="grid__item sixth">
          <picture>
            <source
              srcset="./images/gallery10.png 1x, ./images/gallery10-2x.png 2x"
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-tab-10.png    1x,
                ./images/gallery-tab-10-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-mob-10.png    1x,
                ./images/gallery-mob-10-2x.png 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="gallery__img"
              src="/src/images/gallery-mob-10.png"
              alt="icecream10"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
