<section class="gallery">
  <h1 hidden class="hidden" lang="en">Gallery</h1>
  <div class="container">
    <div class="grid">
      <div class="grid__item first">
        <img
          class="gallery__img"
          src="/src/images/gallery-mob-1.png"
          alt="icecream1"
        />
      </div>
      <div class="wrap">
        <div class="grid__item second">
          <img
            class="gallery__img"
            src="/src/images/gallery-mob-2.png"
            alt="icecream2"
          />
        </div>
        <div class="grid__item ninth">
          <img
            class="gallery__img--margin"
            src="/src/images/gallery-mob-3.png"
            alt="icecream3"
          />
        </div>
      </div>

      <div class="wrap--second">
        <div class="grid__item third">
          <img
            class="gallery__img"
            src="/src/images/gallery-mob-4.png"
            alt="icecream4"
          />
        </div>
        <div class="grid__item fifth">
          <img
            class="gallery__img--margin"
            src="/src/images/gallery-mob-5.png"
            alt="icecream5"
          />
        </div>
      </div>

      <div class="wrap--third">
        <div class="grid__item fourth">
          <img
            class="gallery__img"
            src="/src/images/gallery-mob-6.png"
            alt="icecream6"
          />
        </div>
        <div class="grid__item seventh">
          <img
            class="gallery__img--margin"
            src="/src/images/gallery-mob-7.png"
            alt="icecream7"
          />
        </div>
      </div>

      <div class="wrap--fourth">
        <div class="grid__item eighth">
          <img
            class="gallery__img"
            src="/src/images/gallery-mob-8.png"
            alt="icecream8"
          />
        </div>
        <div class="grid__item tenth">
          <img
            class="gallery__img--margin"
            src="/src/images/gallery-mob-9.png"
            alt="icecream9"
          />
        </div>
      </div>

      <div class="wrap--fifth">
        <div class="grid__item sixth">
          <img
            class="gallery__img"
            src="/src/images/gallery-mob-10.png"
            alt="icecream10"
          />
        </div>
      </div>
    </div>
  </div>
</section>
