<header class="header">
  <div class="header__container containers">
    <nav class="navigation">
      <a class="header__logo" href="./index.html">
        <img
          srcset="./images/headerlogo.png 1x, ./images/headerlogo-2x.png 2x"
          src="./images/headerlogo.png"
          alt="Logo"
          width="199"
          height="50"
        />
      </a>
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a
            class="navigation__link navigation__link--current"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#about">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#about">How it's made</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#contacts">Contact</a>
        </li>
      </ul>
      <div class="header__wrap">
        <!-- Кнопка бургер -->
        <button
          type="button"
          class="menu__button js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="menu__icon--burger" width="20px" height="12px">
            <use href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <!-- Кнопка "Buy now" -->
        <button
          class="buy-button button"
          type="button"
          name="buy-button"
          data-modal-buynow-menu-open
        >
          <span>Buy now </span>
          <svg class="buy-button-icon" width="6" height="9">
            <use href="./images/icons.svg#icon-buttonsvg"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
  <!-- Меню -->
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <!-- Кнопка закриття меню -->
    <button type="button" class="mobile-menu__button js-close-menu">
      <svg class="menu__icon--close" width="14px" height="14px">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <button
      class="navigation__buy-btn button"
      type="button"
      name="menu-buy-button"
      data-modal-buynow-menu-open
    >
      <span>Buy now </span>
      <svg class="navigation__buy-btn-icon" width="6" height="9">
        <use href="./images/icons.svg#icon-buttonsvg"></use>
      </svg>
    </button>

    <ul class="mobnavigation__list list">
      <li class="mobnavigation__item">
        <a
          class="link mobnavigation__link mobnavigation__link--current"
          href="./index.html"
          >Home</a
        >
      </li>
      <li class="mobnavigation__item">
        <a class="link mobnavigation__link" href="#about">About us</a>
      </li>
      <li class="mobnavigation__item">
        <a class="link mobnavigation__link" href="#about">How it's made</a>
      </li>
      <li class="mobnavigation__item">
        <a class="link mobnavigation__link" href="#products">Our products</a>
      </li>
      <li class="mobnavigation__item">
        <a class="link mobnavigation__link" href="#contacts">Contact</a>
      </li>
    </ul>
  </div>
</header>
