<section class="hero">
  <div class="container">
    <div class="hero__bg"></div>
    <picture>
      <source
        srcset="./images/heroicecream.png 1x, ./images/heroicecream-2x.png 2x"
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/heroicecream-tab.png    1x,
          ./images/heroicecream-tab-2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/heroicecream-mob.png    1x,
          ./images/heroicecream-mob-2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <img
        class="hero__icecream"
        src="./images/heroicecream.png"
        alt="icecream"
        width="171"
        height="410"
      />
    </picture>
    <div class="hero__wrapper">
      <h1 class="hero__title">
        ice cream
        <br />
        made with
        <br />
        <span class="hero__title-contrast">passion</span>
      </h1>
      <ul class="hero__list list">
        <li class="hero__item">
          <a href="#products" class="hero__link hero__link-contrast link"
            >Products</a
          >
        </li>
        <li class="hero__item">
          <a href="#about" class="hero__link hero__link-light link"
            >How it’s made?</a
          >
        </li>
      </ul>
      <div class="hero__milk-wrapper">
        <picture>
          <source
            srcset="./images/heromilk.png 1x, ./images/heromilk-2x.png 2x"
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/heromilk-tab.png    1x,
              ./images/heromilk-tab-2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            class="hero__milk"
            src="./images/heromilk.png"
            alt="icecream"
            width="152"
            height="154"
          />
        </picture>
        <a href="" class="hero__milk-link link">
          <p class="hero__milk-text">
            We use special milk processing technology. Feel a delicate creamy
            taste of your favorite ice cream.
          </p>
          <button type="button" class="hero__milk-btn">
            <svg width="6" height="6">
              <use href="./images/icons.svg#icon-buttonsvg"></use>
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
