<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      ice cream
      <br />
      made with
      <br />
      <span class="hero__title-contrast">passion</span>
    </h1>
    <div class="hero__bg"></div>
    <div class="hero__wrapper">
      <ul class="hero__list list">
        <li class="hero__item">
          <a href="#products" class="hero__link hero__link-contrast link"
            >Products</a
          >
        </li>
        <li class="hero__item">
          <a href="#about" class="hero__link hero__link-light link"
            >How it’s made?</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
