<!-- Меню -->
<div class="mobile-menu js-menu-container" id="mobile-menu">
  <!-- Кнопка закриття меню -->
  <button type="button" class="mobile-menu__button js-close-menu">
    <svg class="menu__icon--close" width="14px" height="14px">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <button
    class="navigation__buy-btn button"
    type="button"
    name="menu-buy-button"
    data-modal-buynow-menu-open
  >
    <span>Buy now </span>
    <svg class="navigation__buy-btn-icon" width="6" height="9">
      <use href="./images/icons.svg#icon-buttonsvg"></use>
    </svg>
  </button>

  <ul class="mobnavigation__list list">
    <li class="mobnavigation__item">
      <a
        class="link mobnavigation__link mobnavigation__link--current js-close-menu-btn1"
        href="./index.html"
        >Home</a
      >
    </li>
    <li class="mobnavigation__item">
      <a class="link mobnavigation__link js-close-menu-btn2" href="#about"
        >About us</a
      >
    </li>
    <li class="mobnavigation__item">
      <!-- <button class="mobnavigation__btn" type="button" data-modal-about-open>
        <span class="mobnavigation__btn-text">How it's made</span>
      </button> -->
      <a
        type="button"
        class="link mobnavigation__link js-close-menu-btn3"
        href="#about"
        >How it's made</a
      >
    </li>
    <li class="mobnavigation__item">
      <a class="link mobnavigation__link js-close-menu-btn4" href="#products"
        >Our products</a
      >
    </li>
    <li class="mobnavigation__item">
      <a class="link mobnavigation__link js-close-menu-btn5" href="#contacts"
        >Contact</a
      >
    </li>
  </ul>
</div>
