<div class="backdrop is-hidden" data-modal-about>
  <div class="modal__body">
    <div class="modal__content">
      <button class="modal__close" type="button" data-modal-about-close>
        &times;
      </button>
      <h2 class="farm__title">All about dairy family farm</h2>
      <p class="farm__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
        excepturi? Et molestiae aspernatur, recusandae itaque veritatis
        reprehenderit facere deserunt corrupti nesciunt beatae quos vitae?
        Voluptatibus recusandae quis at, fugit vero alias facilis, corrupti
        labore in, explicabo beatae?
      </p>
      <iframe
        class="farm__video"
        src="https://www.youtube.com/embed/p_rtdPtdmAU"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
