<div class="backdrop">
  <div class="modal">
    <div class="modal__content">
      <button type="button">X</button>
      <p class="modal__text1">Family dairy farm</p>
      <h2 class="modal__title">"MilkSun"</h2>
      <p class="modal__text">
        For those who love our ice cream and want to learn more about it. Where
        clean air and beautiful nature is located our family dairy farm. The
        doors of our hospitable house are open to everyone who wants to escape
        from the bustle of the city and enjoy a pleasant stay.
      </p>
      <div class="farm">
        <ul class="farm__list">
          <li class="farm__item">
            <a href="" class="farm__link">
              <div class="farm-transition">
                <img src="/src/images/cow-m1.jpg" alt="сайт" />
                <p class="farm-transition__text">
                  Come and visit our dairy farm, where you will plunge into the
                  world of wonders.
                </p>
              </div>

              <div class="farm__card">
                <h2 class="farm__title">Milk Tour</h2>
              </div>
            </a>
          </li>

          <li class="farm__item">
            <a class="farm__link" href="">
              <div class="farm-transition">
                <img src="/src/images/cow-m2.jpg" alt="сайт" />
                <p class="farm-transition__text">
                  In our wonderful stores you will find great gifts for you and
                  your family.
                </p>
              </div>

              <div class="farm__card">
                <h2 class="farm__title">Milk Shopping</h2>
              </div>
            </a>
          </li>

          <li class="farm__item">
            <a class="farm__link" href="">
              <div class="farm-transition">
                <img src="/src/images/cow-m3.jpg" alt="сайт" />

                <p class="farm-transition__text">
                  If you want to become a member of our friendly dairy family,
                  come, we are waiting for you.
                </p>
              </div>
              <div class="farm__card">
                <h2 class="farm__title">Cooperation</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
