<div class="backdrop">
  <div class="modal">
    <div class="modal__content">
      <button type="button">X</button>
      <p class="modal__text1">Family dairy farm</p>
      <h2 class="modal__title">"MilkSun"</h2>
      <p class="modal__text">
        For those who love our ice cream and want to learn more about it. Where
        clean air and beautiful nature is located our family dairy farm. The
        doors of our hospitable house are open to everyone who wants to escape
        from the bustle of the city and enjoy a pleasant stay.
      </p>
      <div class="farm">
        <ul class="farm__list">
          <li class="farm__item">
            <a href="" class="farm__link">
              <div class="farm-transition">
                <img src="/src/images/" alt="сайт" />
                <p class="farm-transition__text">
                  Ресурс предлагает комплексные предложения с разным уровнем
                  функционала и сервисов. Все это позволит посетителю получить
                  исчерпывающие сведения о компании или частном лице.
                </p>
              </div>

              <div class="farm__card">
                <h2 class="farm__title">Технокряк</h2>
                <p class="farm__text">Веб-сайт</p>
              </div>
            </a>
          </li>

          <li class="farm__item">
            <a class="farm__link" href="">
              <div class="farm-transition">
                <img src="./images/port-mob2.jpg" alt="игроки в баскетбол" />
                <p class="farm-transition__text">
                  Ресурс предлагает комплексные предложения с разным уровнем
                  функционала и сервисов. Все это позволит посетителю получить
                  исчерпывающие сведения о компании или частном лице.
                </p>
              </div>

              <div class="farm__card">
                <h2 class="farm__title">Постер New Orlean vs Golden Star</h2>
                <p class="farm__text">Дизайн</p>
              </div>
            </a>
          </li>

          <li class="farm__item">
            <a class="farm__link" href="">
              <div class="farm-transition">
                <img src="./images/port-mob3.jpg" alt="ресторан" />

                <p class="farm-transition__text">
                  Ресурс предлагает комплексные предложения с разным уровнем
                  функционала и сервисов. Все это позволит посетителю получить
                  исчерпывающие сведения о компании или частном лице.
                </p>
              </div>

              <div class="farm__card">
                <h2 class="farm__title">Ресторан Seafood</h2>
                <p class="farm__text">Приложение</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
