<section class="customers section">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="customers-clients-1"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <div class="customers__quotes"></div>
              <div class="customers__lines"></div>
            </div>
            <p class="customers-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/symbol-defs.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/symbol-defs.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/symbol-defs.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <div class="customers-clients-2"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <div class="customers__quotes"></div>
              <div class="customers__lines"></div>
            </div>
            <p class="customers-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/symbol-defs.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/symbol-defs.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/symbol-defs.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <div class="customers-clients-3"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <div class="customers__quotes"></div>
              <div class="customers__lines"></div>
            </div>
            <p class="customers-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/symbol-defs.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/symbol-defs.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/symbol-defs.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.mySwiper', {
    spaceBetween: 30,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script> -->
