<section class="customers section">
  <div class="container">
    <h2 class="visually-hidden" style="display: none">Customer Reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="customers-clients-1"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <p class="customers-text">
                The project turned out to be very interesting. New experience of
                working in a team, collective mind, sleepless nights - that's
                something incredible. The most enjoyable was the process of
                collecting parts of the project into a single page. Many thanks
                to the team for the ideas and their implementation. I hope we
                will work together again!
              </p>
            </div>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Sergiy. Kyiv</p>
        </div>
        <div class="swiper-slide">
          <div class="customers-clients-2"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <p class="customers-text">
                In this project, I wanted to get more practice with tools that I
                didn't try before. Working with the team repository is important
                for me. I enjoyed working in a team, there is always someone who
                can propose how to solve a problem. I want to thank the entire
                team for their work.
              </p>
            </div>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Ksenia. Vinnytsia</p>
        </div>
        <div class="swiper-slide">
          <div class="customers-clients-3"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <p class="customers-text">
                It was a difficult but interesting experience. We solved
                problems together. We succeeded. We did it. Thanks to the team
                for the teamwork.
              </p>
            </div>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Sergiy. Kyiv</p>
        </div>
        <div class="swiper-slide">
          <div class="customers-clients-4"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <p class="customers-text">
                It's an interesting project, I'm happy to participate in a team
                project. The team was very cool. Thanks GoIT
              </p>
            </div>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Oleksandr. Lviv</p>
        </div>
        <div class="swiper-slide">
          <div class="customers-clients-5"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <p class="customers-text">
                Excellent course! Thank you so much! The presentation of the
                material is very good. Complex material is explained as simply
                as possible. I tried to apply the received initial knowledge in
                this project. The team was interesting and fun to work with.
                Many issues were resolved during live communication. For me,
                this is a very unusual experience.
              </p>
            </div>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Vladimir. Kharkov</p>
        </div>
        <div class="swiper-slide">
          <div class="customers-clients-6"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <p class="customers-text">
                It was not an easy decision to start something radically new.
                But I did it! I'm scared, but extremely interested in what
                awaits me next on this IT journey.
              </p>
            </div>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Yulia. Kryvyy Rig</p>
        </div>
        <div class="swiper-slide">
          <div class="customers-clients-7"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <p class="customers-text">
                Teamwork was interesting, there was support and help from team
                members. Let's move on to Java Script)
              </p>
            </div>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Maryna. Kyiv</p>
        </div>
        <div class="swiper-slide">
          <div class="customers-clients-8"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <p class="customers-text">
                I am writing this review after 2 months of training in GOIT
                courses. Instead of praising the school, look at the results we
                have. ICE Cream website was made by a team of 8 people in less
                than a week. I think this is an excellent result after 2 months
                of studying html and css.
              </p>
            </div>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Vlad. Odessa</p>
        </div>
        <div class="swiper-slide">
          <div class="customers-clients-9"></div>
          <div class="customers-text-container">
            <div class="customers__wrap">
              <p class="customers-text">
                I really enjoyed the team project. We have a very good team.
              </p>
            </div>
          </div>
          <div class="svg-icon">
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
            <svg class="svg" width="4" height="4">
              <use href="./images/icons.svg#icon-eclipse"></use>
            </svg>
          </div>
          <p class="customers-place">Yuriy. Chernivtsi</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.mySwiper', {
    spaceBetween: 30,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
