.button {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 10px 48px;
  width: 209px;
  height: 44px;
  border: none;
  border-radius: 22px;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  @include font(16px, 700, 1.3);
  color: var(--accent-color);
  outline: none;
  transition: background-color var(--transition-function),
    box-shadow var(--transition-function), color var(--transition-function);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  &:active {
    box-shadow: none;
  }

  &.current {
    background-color: var(--accent-color);
    color: var(--white-text-color);

    &:hover {
      background-color: #ecebeb;
      color: var(--accent-color);
    }
  }
}

.button__icon {
  fill: currentColor;
}
