.cake__bacrdrop {
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(199, 131, 147, 0.7);
  padding: 0 15px;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}

.cake__bacrdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.cake__bacrdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.cake__body {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

.cake__close {
  color: #ffa5ba;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  top: -11px;
  right: 5px;
}
.cake__content {
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px 30px;
  position: relative;
  box-shadow: inset 0 0 10px 5px rgb(0 0 0 / 30%);
}
.modal__close {
  color: #ffa5ba;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  top: -11px;
  right: 5px;
}
.cake__change {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 15px;
  font-family: Titan One;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.33;
}
.cake__label {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;

  color: #000000;
}
.cake__form {
  width: 100%;
  padding: 0 15px;
}
.cake__select {
  width: 100%;
  padding: 3px;
  color: black;
  background-color: #c2e297;
  margin-bottom: 5px;
}
.cake__title {
  margin-top: 10px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;

  font-family: Titan One;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.33;
}
.cake__input {
  width: 100%;
}
.cake__container {
  margin-bottom: 10px;
}

.cake__comment-text {
  width: 100%;
}
