.mobile-menu {
  display: flex;
  //   display: none;
  flex-direction: column;
  justify-content: flex-start;
  //   min-width: 250px;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  background-color: #e17992;
  z-index: 100;

  visibility: hidden;
  opacity: 0;

  transform: translateX(100%);
  transition: transform var(--transition-function),
    visibility var(--transition-function), opacity var(--transition-function);

  @include tablet {
    width: 40vw;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  //   display: flex;
}

.menu__button {
  cursor: pointer;
  margin-left: auto;
  padding: 24px 0px;
  border: none;
  background-color: transparent;

  @include tablet {
    padding: 46px 32px;
    z-index: 1;
  }

  @include desktop {
    display: none;
  }
}

.navigation__buy-btn {
  margin: 60px auto 19px;
}

.mobile-menu__button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: inline-flex;
  border: none;
  background-color: transparent;

  @include desktop {
    display: none;
  }
}

.mobnavigation__item {
  padding: 12px 20px;
  color: var(--white-text-color);
  border-bottom: 1px solid #e18298;

  &:hover,
  &:focus,
  &--current {
    color: var(--accent-color);
  }
}

.mobnavigation__link {
  &:hover,
  &:focus,
  &--current {
    color: var(--accent-color);
  }
}

.mobnavigation__item:first-child {
  border-top: 1px solid #e18298;
}
