.advantages__number {
  margin-bottom: 4px;
  @include font(36px, 400, 1.13);
  font-family: 'Titan One';
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  @include tablet {
    margin-bottom: 13px;
  }
  @include desktop {
    margin-bottom: 16px;
  }
}
.advantages__grid {
  @include desktop {
    padding: 0 32px;
  }
}
.advantages__text {
  @include font(12px, 700, 1.16);
  color: #000000;
  max-width: 162px;
}
.advantages {
  background: #fff5f6;
  padding-bottom: 60px;
  @include desktop {
    padding-bottom: 60px;
  }
}
.advantages__list:not(:last-child) {
  margin-bottom: 16px;
}
.advantages__list {
  list-style: none;
  display: block;
  @include tablet {
    display: grid;
    grid-template-columns: 182px 184px 159px;
  }
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.advantages__container {
  display: inline-grid;
}
.advantages__container::before {
  content: '';
  margin-bottom: 16px;
  width: 50px;
  color: #d41443;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  @include tablet {
    margin-bottom: 36px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}
.advantages__item:nth-child(2) .advantages__container::before {
  background-image: url('../images/cowicon2-2x-min.png');
}
.advantages__item:nth-child(1) .advantages__container::before {
  background-image: url('../images/cowicon1-2x-min.png');
}
.advantages__item:nth-child(3) .advantages__container::before {
  background-image: url('../images/cowicon3-2x-min.png');
}
.advantages__item:not(:last-child) {
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 0;
  }
}
