.gallery {
  background: linear-gradient(to bottom, #fff5f6 19.8%, #ffff 19.8%, #ffff);

  @include tablet {
    background: linear-gradient(to bottom, #fff5f6 57.18%, #ffff 57.18%, #ffff);
  }
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2.5px;
  align-items: center;

  @include tablet {
    grid-gap: 6.07px;
  }

  @include desktop {
    padding-left: 93px;
    padding-right: 94px;
    grid-gap: 8px;
  }
}

.first {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}

.wrap {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-top: 8px;

  @include tablet {
    margin-top: 12px;
  }
}

.wrap--second {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.wrap--third {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-top: 12px;

  @include tablet {
    margin-top: 21px;
  }
}

.wrap--fourth {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-bottom: -1px;

  @include tablet {
    margin-bottom: 26px;
  }
}

.wrap--fifth {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-top: 4px;

  @include tablet {
    margin-bottom: 7.5px;
  }
}

.gallery__img {
  @include desktop {
  }
}

.gallery__img--margin {
  margin-top: 2.5px;

  @include tablet {
    margin-top: 6.05px;
  }

  @include desktop {
    margin-top: 7.98px;
  }
}

.gallery__img--marginsmall {
  margin-top: 1.89px;
  @include tablet {
    margin-top: 4.54px;
  }

  @include desktop {
    margin-top: 5.99px;
  }
}

.hidden {
  opacity: 0;
}
