.header {
    background: #FFB8CA;
    position: relative;
}

.header__logo {
    margin: 8px 20px;
    position: absolute;
    top: 0;
    left: 0;

    @media screen and (max-width: 320px){
        display: block;
        margin: 10px;
        width: 70%;
    }
}