.header {
    background: #FFB8CA;
}

.header__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__logo {
    margin: 8px 20px;
}