.hero {
  width: 100vw;
  height: 502px;
  background-color: var(--main-background-color);
  overflow-x: hidden;
  border: none;

  @include tablet {
    /*width: 768px;*/
    height: 416px;
    margin: 0 auto;
  }

  @include desktop {
    /*width: 1200px;*/
    height: 664px;
  }
}

.hero__container {
  position: relative;
}

/*-------Hero bg and Icecream----------*/

.hero__bg {
  position: absolute;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--contrast-bg-color);

  @include tablet {
    width: 335px;
    height: 333px;
    top: 43px;
    left: 248px;
  }

  @include desktop {
    width: 534px;
    height: 534px;
    top: 54px;
    left: 517px;
  }
}

.hero__icecream {
  position: absolute;
  top: 92px;
  left: 117px;
  width: 171px;
  height: 410px;

  @include tablet {
    max-width: 143px;
    max-height: 336px;
    top: 80px;
    left: 322px;
  }

  @include desktop {
    min-width: 236px;
    min-height: 557px;
    top: 108px;
    left: 636px;
  }
}

/*-------Hero title----------*/

.hero__wrapper {
  position: absolute;
  top: 194px;
  left: 20px;

  @include tablet {
    top: 102px;
    left: 32px;
  }
  @include desktop {
    top: 147px;
    left: 16px;
  }
}

.hero__title {
  margin-bottom: 20px;

  font-family: 'Titan One', arial;
  @include font(26px, 400, 1.154);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-text-color);

  @include tablet {
    @include font(22px, null, 1.136);
  }

  @include desktop {
    margin-bottom: 20px;

    @include font(38px, null, 1.158);
  }
}

.hero__title-contrast {
  @include font(48px, 400, 0.965);
  text-transform: uppercase;
  color: var(--accent-color);

  @include tablet {
    @include font(34px, null, 0.905);
  }

  @include desktop {
    @include font(58px, null, null);
  }
}

/*-------Buttons----------*/

.hero__list {
  display: flex;
}

.hero__item {
  &:not(:last-child) {
    margin-right: 8px;

    @include desktop {
      margin-right: 12px;
    }
  }
}
.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
  padding-left: 16px;
  height: 24px;
  border-radius: 20px;

  @include font(8px, 400, 1.25);

  @include tablet {
  }

  @include desktop {
    padding-right: 23px;
    padding-left: 23px;
    height: 40px;
    @include font(14px, null, 1.286);
  }
}

.hero__link-contrast {
  background-color: var(--accent-color);
  color: var(--white-text-color);

  &:hover,
  &:focus {
    background-color: #ef5b7f;

    transition: background-color var(--transition-function);
  }

  &:focus-visible {
    outline: 3px solid #ef5b7f;
    border-radius: 20px;
  }
}

.hero__link-light {
  background-color: var(--white-text-color);
  color: var(--accent-color);

  &:hover,
  &:focus {
    background-color: #ecebeb;

    transition: background-color var(--transition-function);
  }

  &:focus-visible {
    outline: 3px solid #ef5b7f;
    border-radius: 20px;
  }
}

/*-------Milk----------*/

.hero__milk-wrapper {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  @include desktop {
    margin-top: 40px;
  }
}

.hero__milk {
  width: 152px;
  height: 154px;

  @include desktop {
    width: 213px;
    height: 216px;
  }
}

.hero__milk-card {
  display: flex;
  flex-direction: column;
}

.hero__milk-text {
  max-width: 114px;
  margin-bottom: 7px;

  @include font(8px, 400, 1.5);
  color: var(--white-text-color);

  @include desktop {
    max-width: 200px;
    margin-bottom: 20px;

    @include font(14px, null, 1.4);
  }
}

.hero__milk-link {
  @include tablet {
    &:hover .hero__milk-btn-icon,
    &:focus .hero__milk-btn-icon {
      transform: scale(1.8);
    }

    &:focus-visible {
      outline: 3px solid #ef5b7f;
      border-radius: 4px;
    }
  }
}

.hero__milk-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  width: 18px;
  height: 18px;
  background-color: var(--white-background-color);
  cursor: pointer;

  @include desktop {
    width: 26px;
    height: 26px;
  }
}

.hero__milk-btn-icon {
  fill: var(--accent-color);
}

/*-------Quantity----------*/

.hero__quantity-bg-first {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 92px;
    right: 32px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--white-background-color);
  }

  @include desktop {
    top: 152px;
    right: 16px;
    width: 30px;
    height: 30px;
  }
}

.hero__quantity-bg-second {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 152px;
    right: 32px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--white-background-color);
  }

  @include desktop {
    top: 244px;
    right: 16px;
    width: 30px;
    height: 30px;
  }
}

.quantity {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 94px;
    right: 42px;
  }

  @include desktop {
    top: 156px;
    right: 34px;
  }
}

.quantity__wrapper {
  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.quantity__title {
  @include tablet {
    font-family: 'Titan One', arial;
    @include font(28px, 400, 1.143);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: var(--accent-color);
    z-index: 10;
  }

  @include desktop {
    @include font(46px, null, 1.152);
  }
}
.quantity__text {
  @include tablet {
    @include font(8px, 400, 1.25);
    color: var(--white-text-color);
    text-align: right;
  }

  @include desktop {
    @include font(14px, 400, 1.286);
  }
}

/*-------Girl----------*/

.hero__girl {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 265px;
    right: 32px;
    width: 190px;
    height: 150px;
  }

  @include desktop {
    top: 423px;
    right: 16px;
    width: 304px;
    height: 241px;
  }
}
