.customers-clients-1,
.customers-clients-2,
.customers-clients-3 {
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }

  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.customers-clients-1 {
  background-image: url('../images/reviewer1.png');
}

.customers-clients-2 {
  background-image: url('../images/reviewer2.png');
}

.customers-clients-3 {
  background-image: url('../images/reviewer3.png');
}

.customers-text-container {
  position: relative;
  width: 280px;
  height: 100%;
  background-color: #fafafa;
  padding: 32px 50px 17px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 620px;
    height: 100%;
    padding: 20px 0px 36px 0px
  }

  @media screen and (min-width: 1200px) {
    width: 968px;
    height: 100%;
    padding: 32px 74px 31px 73px;
  }
}

.customers__wrap {
  // position: relative;
  background-color: #fff;
  max-width: 180px;
  min-height: 100%;

  @media screen and (min-width: 768px) {
    max-width: 608px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 821px;
  }
}

.customers-text {
  width: 180px;
  height: 100%;
  font-size: 12px;
  line-height: 2.5;
  text-align: center;
  padding: 13px 8px 0px 15px;
  background: url('../images/lapki.png') no-repeat,
  linear-gradient(to bottom, #fafafa 40px, transparent 40px),
  repeating-linear-gradient(to top,
    #e1e1e1,
    #e1e1e1 1px,
    #fafafa 1px,
    #fafafa 30px);
  background-position: 3px 0px,
  0px 0px;
  // outline: 1px solid black;
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;
    width: 100%;
    padding: 18px 48px 2px 46px;
    background-position: 6px 0px, 0px 0px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9em;
    letter-spacing: 0.04em;
    width: 100%;
    padding: 17px 36px 3px 35px;
    background-position: 0px 0px, 0px 0px;
  }
}

.customers-svg {
  fill: #c7133e;
  margin: 0 auto;
  display: block;
}

.customers-place {
  font-size: 14px;
  line-height: 1.85;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 37px
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.customers-item {
  display: flex;
  margin-right: 20px;
  justify-content: center;
}

.customers-items {
  margin-right: 18px;
}

.customers-svg-home {
  fill: #d9d9d9;
}

.customers-svg-frame {
  fill: #d9d9d9;
}

.svg-icon {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.svg:not(:last-child) {
  fill: #c7133e;
  margin-right: 18px;
}

.swiper-pagination-bullet-active {
  background-image: url('../images/Frame.jpg');
  border-radius: 0%;
}

.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  @media screen and (min-width: 768px) {
    padding: 0 324px;
  }
  
    @media screen and (min-width: 1200px) {
    padding: 0 540px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
